[Unit]
Description=ScreenPanel
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
ExecStart=/home/pi/screen.exe 194.103.205.35

[Install]
WantedBy=multi-user.target