[Unit]
Description=ScreenPanel
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/screen.exe 10.19.0.16

[Install]
WantedBy=multi-user.target